.account-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

 .info-item strong {
    margin-bottom: 10px;
    text-align: left;
    align-self: flex-start;
    box-sizing: border-box;
    width: 150px;
    padding-right: 10px;
    display: inline-block;
    font-weight: bold;

  }
  .order-item strong {
    margin-bottom: 10px;
    text-align: left;
    align-self: flex-start;
    box-sizing: border-box;
    width: 150px;
    padding-right: 10px;
    display: inline-block;
    font-weight: bold;

  }
  
  .info-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .info-item {
    margin-bottom: 10px;
  }
  .info-item1{
    display: inline-block;
    width: 150px;
    text-align: left;

  }
  
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  