/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  .register-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  label {
    margin-bottom: 5px;
    text-align: left;
    align-self: flex-start;
    box-sizing: border-box;
    width: 150px;
    padding-right: 10px;
    display: inline-block;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-self: flex-end;
    margin-left: 10px;
    flex: 1;
    
    
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    margin: 0 auto;
    display: block;
  }
  
  button[type="submit" ]:hover {
    background-color: #0056b3;
  }