.content-container {
    padding-top: 60px; /* Adjust as needed based on the height of your navigation bar */
    padding-left: 20px; /* Adjust left padding as needed */
    padding-right: 20px; /* Adjust right padding as needed */
  }